@import "design.css";


.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
table {
    border: none;
    height: 100px;
    width: 300px;
    background-color: #dcf0d7;
    margin-top: 50px;
}
#one {
    border: 2px solid #698b85;
    height: 150px;
    width: 320px;
    background-color: #bff4cb;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}    
#one td, #one th {
    border: 1px solid #ddd;
    padding: 8px;
    color: #3e4845;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#one tr:nth-child(even) {
    background-color: #f2f2f2;
}
#one th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
}