body {
    background-color: #dcf0d7;
}
table {
    height: 388px;
    width: 480px;
    background-color: #bff4cb;
    margin-top: 100px;
}
td {
    text-align: center;
    height: 160px;
    width: 250px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}
input:hover {
    background-color: #449127;
}
input.one {
    padding-top: 80px;
    padding-right: 93px;
    padding-bottom: 80px;
    padding-left: 94px;
}
input.two {
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-left: 100px;
}
input.three {
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
}
input.four {
    padding-top: 80px;
    padding-right: 85px;
    padding-bottom: 80px;
    padding-left: 84px;
}
input.five {
    margin-top: 10px;
    padding-top: 7px;
    padding-right: 19px;
    padding-bottom: 7px;
    padding-left: 16px;
}